
.container {
    padding:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.text_container{
    text-align: center;
    position: absolute; 
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:green;
    font-size: 78px;

}
h3 {
    font-size: 28px;
  
}

.background {
    width:100%;
    height: 100%;
    opacity: 0.5;
}