.logo {
  height: 50px;
  padding: 1em;
  cursor: pointer;
}

body {
  background: #def0f4;
}

@media screen and (max-width: 1024px) {
  .logo {
    height: 40px;
    padding: 0.5em;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    height: 30px;
    padding: 0.25rem;
  }
}
