.login-container {
  max-width: 25rem;
  margin: 5rem auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  gap: 1em;
}

.button-container {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .login-container {
    max-width: 20rem;
    margin: 3rem auto;
    padding: 0.5rem;
  }
}
