.login-container {
  max-width: 25rem;
  margin: 5rem auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  gap: 1em;

}


.button-container{
  display: flex;
  justify-content: center;
}

