 
label {
    font-size: 18px;
    margin: 10px;
  }
  
input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;

  } 
  
button {
    background-color: #0e722f;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }



/* styling for forms */
.input_form {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh; /* Make the container take the full viewport height */

}

.form_row {
    display: flex;
    justify-content: space-between;
    
}
