/* Add this CSS to style your cards */
.search-result-card {
    display: flex;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 2rem;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    width: 60em;
   
}

.card-content {
    text-align: justify;
    min-width: 30em;
}

.image-container {
margin-right: 10px;
}

.image-container img {
width: 8rem; /* Adjust the width as needed */
height:11rem;
object-fit: cover;
}

.content {
flex: 1;
text-justify: left;
}

.edit-buttons {
    display: flex;
    justify-content: space-around;
    margin: 2em;
    padding: 1em;
    max-width: 20rem;
}