.navbar {
	width: 100%;
	height: 60px;
	background-color: #f7f7f7;
	border-bottom: 2px solid grey;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 0.4rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.links-container {
	margin-right: 20px;
	display: flex;
	width: 600px;
	justify-content: space-evenly;
	list-style: none;
}

.link {
	text-decoration: none;
	color: rgb(14, 34, 14);
}
