.navbar {
	width: 100%;
	height: 50px;
	background-color: #f7f7f7;
	border-bottom: 2px solid grey;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.links-container {
	margin-right: 20px;
	display: flex;
	width: 400px;
	justify-content: space-evenly;
}

.link {
	text-decoration: none;
	list-style: none;
	color: rgb(14, 34, 14);
}
