<!--product-css>
.product-image {
  height: 100px;
  width: 100px;
}

.container-product-list {
  display: flex;
  flex-direction: column;
}
.container-product-card {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr 0.5fr;
  border: 1px solid #ccc;
  max-width: 40em;
  align-items: center;
}

h2 {
  font-size: 1rem;
}
