.product-image {
  height: 100px;
  width: 100px;
}

.container-product-list {
  display: flex;
  flex-direction: column;
}
.container-product-card {
  display: flex;
  flex-direction: row;
  border: "1px solid #ccc";
  padding: "15px";
  margin: "10px";
}
