.container {
    padding:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.help-container {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.help-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 50%;
  }