:root {
  --primary-color: #66bb6a; /* Green */
  --secondary-color: #d3b1a0; /* Earth Tone */
  --accent-color: #ffa000; /* Accent ( Orange) */
  --background-color: #f5f5f5; /* Background (Light Gray) */
  --text-color: #333333; /* Text (Dark Gray) */
}
