.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.search-box {
  width: 300px; /* Adjust the width to your desired size */
  padding: 10px; /* Adjust the padding as needed */
  font-size: 16px; /* Adjust the font size as needed */
  /* Add any other styling properties as needed */
}

.button {
    background-color: green; 
    color: white; 
    padding: 10px; 
    margin: 2px;
    border: none;
    border-radius: 5px; 
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.7); 
    cursor: pointer;
}

.buttonSearchSelection {
  background-color: green; 
  color: white; 
  padding: 10px; 
  margin: 2px;
  border: none;
  border-radius: 5px; 
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.7); 
  cursor: pointer;
}

.buttonSearchSelection.selected {
  background-color: white; 
  color: green;
  border: 2px solid green; /* Add a border to indicate selection */
}

.results-message {
  justify-self: center;
  padding:5px;
}

  
