.button {
    background-color: green; 
    color: white; 
    padding: 10px 20px; 
    border: none;
    border-radius: 5px; 
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.7); 
    cursor: pointer;
}

.filtered_data > ul {
    list-style-type : none;
  
}
