.signup-container {
  max-width: 400px;
  margin: 5rem auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  gap: 1em;
  text-align: center;
}

/* .password-strength {
  margin: 10px 0;
} */

/* .password-progress {
  height: 8px;
  border-radius: 4px;
  margin-top: 5px;
} */

.strength-text {
  margin-top: 0.5rem;
  font-weight: bold;
}

.weak {
  color: red;
}

.medium {
  color: orange;
}

.strong {
  color: green;
}
